*,
*::after,
*::before {
    margin: 5px;
    box-sizing: border-box;
}

.news__container {
    display: flex;
}

.little__image {
    flex-direction: column;
}

.little__image :nth-child(2){
    margin-top: -3px;
}
