.genre {
    height: 3rem;
    width: 6rem;
    background-color: rgba(100,1,179,255);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big__div{
    display: flex;
    width: 40%;
    height: 600px;
    flex-direction: column;
    text-align: right;
}
.big__div img{
    height: 500px;
}

.bottom__div{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.author__date{
    display: flex;
    flex-direction:row-reverse;
    color: gray;
}

.bottom__div a{
    font-size: 12px;
} 


